<wm-page layouttype="one-column" columns="1" data-ng-controller="ProductsPageController" name="page1" on-click="staticVariable1">
    <wm-header height="auto" name="header" backgroundcolor="#005387" class="eshop-header">
        <wm-layoutgrid rows="1" columns="2" name="layoutgrid23" height="70">
            <wm-gridrow name="gridrow28">
                <wm-gridcolumn name="gridcolumn68">
                    <wm-picture name="picture1" picturesource="bind:Variables.eshopIcon.dataSet.dataValue"></wm-picture>
                    <wm-label name="ApplicationName" on-click="appName" caption="bind:Variables.appName.dataSet.dataValue" fontweight="bold" fontsize="24" color="#d1d039" class="application-name appName"></wm-label>
                </wm-gridcolumn>
                <wm-gridcolumn name="gridcolumn70" horizontalalign="right" on-click="username">
                    <wm-search name="search1" class="product-search" width="353" height="75" dataset="bind:Variables.products.dataSet.data" searchkey="name" displaylabel="name" displayimagesrc="imgUrl" data-ng-click="activateProductSearch($event)" on-submit="search1Submit($event, $scope)"></wm-search>
                </wm-gridcolumn>
            </wm-gridrow>
        </wm-layoutgrid>
    </wm-header>
    <wm-top-nav name="top-nav" backgroundcolor="#0a3151">
        <wm-list name="topLinks" horizontalalign="left" class="top-nav">
            <wm-list-item name="topLink1" data-ng-click="navigateToPage($event, $scope)">
                <wm-anchor caption="bind:Variables.homeMenu.dataSet.dataValue" name="homelink" hyperlink="#/Main"></wm-anchor>
            </wm-list-item>
            <wm-list-item name="topLink2" data-ng-click="navigateToPage($event, $scope)">
                <wm-anchor caption="bind:Variables.productsMenu.dataSet.dataValue" name="productslink" hyperlink="#/Category"></wm-anchor>
            </wm-list-item>
            <wm-list-item ng-if="userLoggedin" name="topLink3" data-ng-click="navigateToPage($event, $scope)">
                <wm-anchor caption="bind:Variables.cartMenu.dataSet.dataValue" name="cartlink" hyperlink="#/Cart"></wm-anchor>
            </wm-list-item>
            <wm-list-item ng-if="userLoggedin" name="topLink4" data-ng-click="navigateToPage($event, $scope)">
                <wm-anchor caption="bind:Variables.ordersMenu.dataSet.dataValue" name="orderslink" hyperlink="#/Orders"></wm-anchor>
            </wm-list-item>
            <wm-list-item ng-if="userLoggedin" name="topLink5" data-ng-click="navigateToPage($event, $scope)">
                <wm-anchor caption="bind:Variables.profileMenu.dataSet.dataValue" name="profilelink" hyperlink="#/Profile"></wm-anchor>
            </wm-list-item>
            <wm-list-item ng-if="!userLoggedin" name="topLink6">
                <wm-anchor caption="LOGIN" name="loginlink" on-click="loginDialog.show"></wm-anchor>
            </wm-list-item>
            <wm-list-item ng-if="userLoggedin" name="topLink7">
                <wm-anchor caption="bind:Variables.logoutMenu.dataSet.dataValue" name="logoutlink" on-click="logout($event, $scope)"></wm-anchor>
            </wm-list-item>
        </wm-list>
    </wm-top-nav>
    <wm-content name="content1">
        <wm-row name="row1">
            <wm-column class="app-content-column" columnwidth="12" name="column1">
                <wm-layoutgrid rows="3" columns="3" name="layoutgrid3" paddingtop="50" paddingleft="75" paddingright="75" paddingbottom="50">
                    <wm-gridrow name="gridrow2">
                        <wm-gridcolumn name="gridcolumn4" width="45%" on-click="selectedItem">
                            <wm-picture name="picture2" maxwidth="100%" picturesource="bind:Variables.selectedItem.dataSet.imgUrl"></wm-picture>
                        </wm-gridcolumn>
                        <wm-gridcolumn name="gridcolumn5" width="5%"></wm-gridcolumn>
                        <wm-gridcolumn name="gridcolumn6" width="50%">
                            <wm-gridrow name="gridrow3">
                                <wm-label name="ProductName" caption="bind:Variables.selectedItem.dataSet.name" width="100%" fontweight="bold" fontsize="24"></wm-label>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow4">
                                <wm-html paddingtop="5" paddingleft="5" paddingbottom="5" paddingright="5" fontsize="16" name="ProductDescription" content="bind:Variables.selectedItem.dataSet.description">
                                </wm-html>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow5">
                                <wm-label name="Availability" class="availability" caption="Available" show="bind:Variables.selectedItem.dataSet.availability" paddingtop="5" paddingleft="5" paddingbottom="5" paddingright="5" fontsize="18" color="#ffffff" backgroundcolor="#39b54a"></wm-label>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow6">
                                <wm-label name="Unavailable" class="availability" caption="Out of Stock" show="bind:!Variables.selectedItem.dataSet.availability" paddingtop="5" paddingleft="5" paddingbottom="5" paddingright="5" fontsize="18" color="#ffffff" backgroundcolor="#ff0000"></wm-label>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow7">
                                <wm-row name="row2">
                                    <wm-label caption="Rs" fontweight="bold" name="product_currency" color="#000000" width="1.5em" paddingtop="5" paddingleft="5" paddingbottom="5" paddingright="5" fontsize="18"></wm-label>
                                    <wm-label name="ProductPrice" caption="bind:Variables.selectedItem.dataSet.price" fontweight="bold" color="#000000" paddingtop="5" paddingleft="5" paddingbottom="5" paddingright="5" fontsize="18"></wm-label>
                                </wm-row>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow8" ng-if="userLoggedin">
                                <wm-button name="addToCart" caption="Add to Cart" paddingleft="10" paddingright="10" paddingtop="7" paddingbottom="7" margintop="10" marginbottom="10" marginright="5" fontsize="20" width="140" on-click="addToCartClick($event, $scope)" backgroundcolor="#015b7f"></wm-button>
                            </wm-gridrow>
                        </wm-gridcolumn>
                    </wm-gridrow>

                </wm-layoutgrid>
            </wm-column>
        </wm-row>
    </wm-content>
    <wm-footer name="footer">
        <wm-layoutgrid rows="1" columns="2" height="auto" name="footerlayout">
            <wm-gridrow name="footerrow">
                <wm-gridcolumn name="footerleft" verticalalign="bottom">
                    <wm-label caption="Powered by WaveMaker" textalign="left" name="poweredby" width="100%"></wm-label>
                </wm-gridcolumn>
                <wm-gridcolumn horizontalalign="right" verticalalign="bottom" name="footerright">
                    <wm-label caption="Copyright 2014 eShop" textalign="right" name="copyright" width="100%"></wm-label>
                </wm-gridcolumn>
            </wm-gridrow>
        </wm-layoutgrid>
    </wm-footer>
</wm-page>