.idea
*.iml
*.java
*.class
webapproot/WEB-INF/**
export/**

            <wm-layoutgrid rows="3" columns="3" name="layoutgrid3">
                            <wm-gridrow name="gridrow2">
                                <wm-gridcolumn name="gridcolumn4" width="35%">
                                    <wm-picture name="picture2" width="400" height="400"></wm-picture>
                                </wm-gridcolumn>
                                <wm-gridcolumn name="gridcolumn5" width="5%"></wm-gridcolumn>
                                <wm-gridcolumn name="gridcolumn6" width="60%">
                                    <wm-label name="ProductName" paddingtop="5" paddingleft="5" paddingright="5" paddingbottom="5" fontweight="bold" fontsize="24"></wm-label>
                                    <wm-label name="ProductDescription" width="713" height="180" paddingtop="5" paddingleft="5" paddingbottom="5" paddingright="5" fontsize="16"></wm-label>
                                    <wm-label paddingtop="5" paddingleft="5" paddingbottom="5" paddingright="5" fontsize="18" color="#ffffff" name="Availability" borderstyle="solid" bordercolor="#d4d4d4" bordertop="1" borderleft="1" borderbottom="1" borderright="1" backgroundcolor="#0fb848"></wm-label>
                                    <wm-label name="ProductPrice" paddingtop="5" paddingleft="5" paddingbottom="5" paddingright="5" fontsize="18"></wm-label>
                                    <wm-button name="buttonBuy" caption="Add to Cart" paddingleft="10" paddingright="10" paddingtop="7" paddingbottom="7" margintop="10" marginbottom="10" marginright="5" fontsize="20" width="140"></wm-button>
                                </wm-gridcolumn>
                            </wm-gridrow>
                        </wm-layoutgrid>