.product-search {
    margin-top: 40px;
}

.wm-app .app-top-nav ul.app-list li.app-list-item a.app-anchor {
    color: #ffffff;
    border-radius: 0px;
}

.wm-app .app-top-nav ul.app-list li.app-list-item a.app-anchor:hover {
    color: #363636;
    background-color: #ACACAC;
}