<wm-page layouttype="two-column" columns="2" data-ng-controller="CategoryPageController" name="page1">
    <wm-header height="auto" name="header">
        <wm-layoutgrid rows="1" columns="3" name="layoutgrid23" height="70">
            <wm-gridrow name="gridrow28">
                <wm-gridcolumn name="gridcolumn68">
                    <wm-picture name="picture1" picturesource="resources/images/logos/Android/wavemaker_72x72.png"></wm-picture>
                    <wm-label name="ApplicationName" on-click="liveVariable1" caption="bind:Variables.appName.dataSet.dataValue" fontweight="bold" fontsize="24" color="#ffffff" cursor="pointer"></wm-label>
                </wm-gridcolumn>
                <wm-gridcolumn name="gridcolumn69" horizontalalign="right">
                </wm-gridcolumn>
                <wm-gridcolumn name="gridcolumn70" horizontalalign="right" on-click="username">
                    <wm-search name="search1" width="353" height="75"></wm-search>
                </wm-gridcolumn>
            </wm-gridrow>

        </wm-layoutgrid>
    </wm-header>
    <wm-top-nav name="top-nav">
        <wm-list name="topLinks" horizontalalign="left">
            <wm-list-item name="topLink1">
                <wm-anchor caption="bind:Variables.homeMenu.dataSet.dataValue" name="homelink" hyperlink="#/Main"></wm-anchor>
            </wm-list-item>
            <wm-list-item name="topLink2">
                <wm-anchor caption="bind:Variables.productsMenu.dataSet.dataValue" name="productslink" hyperlink="#/Category"></wm-anchor>
            </wm-list-item>
            <wm-list-item ng-if="userLoggedin" name="topLink3">
                <wm-anchor caption="bind:Variables.cartMenu.dataSet.dataValue" name="cartlink" hyperlink="#/Cart"></wm-anchor>
            </wm-list-item>
            <wm-list-item ng-if="userLoggedin" name="topLink4">
                <wm-anchor caption="bind:Variables.ordersMenu.dataSet.dataValue" name="orderslink" hyperlink="#/Orders"></wm-anchor>
            </wm-list-item>
            <wm-list-item ng-if="userLoggedin" name="topLink5">
                <wm-anchor caption="bind:Variables.profileMenu.dataSet.dataValue" name="profilelink" hyperlink="#/Profile"></wm-anchor>
            </wm-list-item>
            <wm-list-item ng-if="!userLoggedin" name="topLink6">
                <wm-anchor caption="LOGIN" name="loginlink" on-click="loginDialog.show"></wm-anchor>
            </wm-list-item>
            <wm-list-item ng-if="userLoggedin" name="topLink7">
                <wm-anchor caption="bind:Variables.logoutMenu.dataSet.dataValue" name="logoutlink" on-click="logout($event, $scope)"></wm-anchor>
            </wm-list-item>
        </wm-list>
    </wm-top-nav>
    <wm-content name="content1">
        <wm-row name="row1">
            <wm-left-panel contentwidth="2" name="left-panel1">
                <wm-list name="categoryMenuList" class="category-menu-list">
                    <wm-list-item name="list-item5" data-ng-repeat="product in productsList" data-ng-click="navigateCallback(product.dataValue)">
                        <wm-anchor name="anchor5" caption="{{product.dataValue}}" href="#/Category"></wm-anchor>
                    </wm-list-item>
                </wm-list>
            </wm-left-panel>
            <wm-column class="app-content-column" columnwidth="10" paddingleft="15" paddingright="15" name="mainContent">
                <wm-label name="label5" caption="bind:Variables.selectedCategory.dataSet.dataValue"></wm-label>
                <wm-livelist name="productList" dataset="bind:Variables.products.dataSet" class="products" on-click="productListClick($event, $scope)">
                    <wm-listtemplate name="productsTemplate">
                        <wm-picture name="product_thumb" picturesource="bind:Variables.products.dataSet.imgUrl" pictureaspect="None" class="product-thumb"></wm-picture>
                        <wm-label name="product_name" marginright="15" caption="bind:Variables.products.dataSet.name" fontweight="bold" width="100%" hint="{{item.name}}"></wm-label>
                        <wm-label name="product_price" marginright="15" caption="bind:Variables.products.dataSet.price" width="100%"></wm-label>
                        <wm-label name="product_desc" caption="bind:Variables.products.dataSet.description" width="100%"></wm-label>
                    </wm-listtemplate>
                </wm-livelist>
            </wm-column>
        </wm-row>
    </wm-content>
    <wm-footer name="footer">
        <wm-layoutgrid rows="1" columns="2" height="auto" name="footerlayout">
            <wm-gridrow name="footerrow">
                <wm-gridcolumn name="footerleft" verticalalign="bottom">
                    <wm-label caption="Powered by WaveMaker" textalign="left" name="poweredby" width="100%"></wm-label>
                </wm-gridcolumn>
                <wm-gridcolumn horizontalalign="right" verticalalign="bottom" name="footerright">
                    <wm-label caption="Copyright 2014 eShopping" textalign="right" name="copyright" width="100%"></wm-label>
                </wm-gridcolumn>
            </wm-gridrow>
        </wm-layoutgrid>
    </wm-footer>
</wm-page>