<wm-page layouttype="two-column" columns="2" data-ng-controller="CategoryPageController" name="page1">
    <wm-header height="auto" name="header" backgroundcolor="#005387" class="eshop-header">
        <wm-layoutgrid rows="1" columns="2" name="layoutgrid23" height="70">
            <wm-gridrow name="gridrow28">
                <wm-gridcolumn name="gridcolumn68">
                    <wm-picture name="picture1" picturesource="bind:Variables.eshopIcon.dataSet.dataValue"></wm-picture>
                    <wm-label name="ApplicationName" on-click="appName" caption="bind:Variables.appName.dataSet.dataValue" fontweight="bold" fontsize="24" color="#d1d039" class="application-name appName"></wm-label>
                </wm-gridcolumn>
                <wm-gridcolumn name="gridcolumn70" horizontalalign="right">
                    <wm-search name="search1" class="product-search" width="353" height="75" dataset="bind:Variables.products.dataSet.data" searchkey="name" displaylabel="name" displayimagesrc="imgUrl" data-ng-click="activateProductSearch($event)" on-submit="search1Submit($event, $scope)"></wm-search>
                </wm-gridcolumn>
            </wm-gridrow>
        </wm-layoutgrid>
    </wm-header>
    <wm-top-nav name="top-nav" backgroundcolor="#0a3151">
        <wm-list name="topLinks" horizontalalign="left" class="top-nav">
            <wm-list-item name="topLink1" data-ng-click="navigateToPage($event, $scope)">
                <wm-anchor caption="bind:Variables.homeMenu.dataSet.dataValue" name="homelink" hyperlink="#/Main"></wm-anchor>
            </wm-list-item>
            <wm-list-item name="topLink2">
                <wm-anchor caption="bind:Variables.productsMenu.dataSet.dataValue" name="productslink" hyperlink="#/Category"></wm-anchor>
            </wm-list-item>
            <wm-list-item ng-if="userLoggedin" name="topLink3" data-ng-click="navigateToPage($event, $scope)">
                <wm-anchor caption="bind:Variables.cartMenu.dataSet.dataValue" name="cartlink" hyperlink="#/Cart"></wm-anchor>
            </wm-list-item>
            <wm-list-item ng-if="userLoggedin" name="topLink4" data-ng-click="navigateToPage($event, $scope)">
                <wm-anchor caption="bind:Variables.ordersMenu.dataSet.dataValue" name="orderslink" hyperlink="#/Orders"></wm-anchor>
            </wm-list-item>
            <wm-list-item ng-if="userLoggedin" name="topLink5" data-ng-click="navigateToPage($event, $scope)">
                <wm-anchor caption="bind:Variables.profileMenu.dataSet.dataValue" name="profilelink" hyperlink="#/Profile"></wm-anchor>
            </wm-list-item>
            <wm-list-item ng-if="!userLoggedin" name="topLink6">
                <wm-anchor caption="LOGIN" name="loginlink" on-click="loginDialog.show"></wm-anchor>
            </wm-list-item>
            <wm-list-item ng-if="userLoggedin" name="topLink7">
                <wm-anchor caption="bind:Variables.logoutMenu.dataSet.dataValue" name="logoutlink" on-click="logout($event, $scope)"></wm-anchor>
            </wm-list-item>
        </wm-list>
    </wm-top-nav>
    <wm-content name="content1">
        <wm-row name="row1">
            <wm-left-panel contentwidth="2" name="left-panel1">
                <wm-list name="categoryMenuList" class="category-menu-list">
                    <wm-list-item name="list-item5" data-ng-repeat="product in productsList" data-ng-click="navigateCallback(product.dataValue)">
                        <wm-anchor name="anchor5" caption="{{product.dataValue}}" href="#/Category"></wm-anchor>
                    </wm-list-item>
                </wm-list>
            </wm-left-panel>
            <wm-column class="app-content-column" columnwidth="10" paddingleft="15" paddingright="15" name="mainContent">
                <wm-label name="label5" caption="bind:Variables.selectedCategory.dataSet.dataValue" fontsize="1.3" fontunit="em"></wm-label>
                <wm-livelist name="productList" dataset="bind:Variables.products.dataSet" class="products" itemclass="col-md-2" on-click="productListClick($event, $scope)">
                    <wm-listtemplate name="productsTemplate">
                        <wm-picture name="product_thumb" picturesource="bind:Variables.products.dataSet.imgUrl" pictureaspect="None" class="product-thumb"></wm-picture>
                        <wm-row name="row2">
                            <wm-label caption="Rs" fontweight="bold" name="label3" color="#000000" width="1.5em"></wm-label>
                            <wm-label name="product_price" caption="bind:Variables.products.dataSet.price" fontweight="bold" width="4.5em" color="#000000" margintop="10"></wm-label>
                        </wm-row>
                        <wm-label name="product_name" class="product-name" marginright="15" caption="bind:Variables.products.dataSet.name" width="100%" fontsize="0.8" hint="{{item.name}}" fontunit="em" color="#464646"></wm-label>
                    </wm-listtemplate>
                </wm-livelist>
            </wm-column>
        </wm-row>
    </wm-content>
    <wm-footer name="footer">
        <wm-layoutgrid rows="1" columns="2" height="auto" name="footerlayout">
            <wm-gridrow name="footerrow">
                <wm-gridcolumn name="footerleft" verticalalign="bottom">
                    <wm-label caption="Powered by WaveMaker" textalign="left" name="poweredby" width="100%"></wm-label>
                </wm-gridcolumn>
                <wm-gridcolumn horizontalalign="right" verticalalign="bottom" name="footerright">
                    <wm-label caption="Copyright 2014 eShop" textalign="right" name="copyright" width="100%"></wm-label>
                </wm-gridcolumn>
            </wm-gridrow>
        </wm-layoutgrid>
    </wm-footer>
</wm-page>