.product-thumb {
    max-width: 10em;
    max-height: 6em;
    padding: 0.25em;
}
.products {
    cursor: pointer;
}
.products .app-list-item {
    border: 1px #eee solid;
    margin: 0.25em;
    padding: 0.25em;
}
ul.category-menu-list {
    padding: 0.5em;
}
.category-menu-list li {
    padding: 0.25em;
}
.product-price .product-name {
    text-align: center;
}
.prodCategoryBanner: hover {
    border: 1px solid #ffd926;
}