.product-thumb {
    max-width: 8em;
    max-height: 4em;
    padding: 0.25em;
}
.products .app-list-item {
    float: left;
    width: 12em;
    height: 12em;
    border: 1px #eee solid;
    margin: 0.25em;
    padding: 0.25em;
}
ul.category-menu-list {
    padding: 0.5em;
}
.category-menu-list li {
    padding: 0.25em;
}