<wm-page layouttype="one-column" columns="1" data-ng-controller="MainPageController" name="page1" on-click="liveVariable1">
    <wm-header height="auto" name="header" backgroundcolor="#015b7f">
        <wm-layoutgrid rows="1" columns="2" name="layoutgrid23" height="70">
            <wm-gridrow name="gridrow28">
                <wm-gridcolumn name="gridcolumn68">
                    <wm-picture name="picture1" picturesource="bind:Variables.eshopIcon.dataSet.dataValue"></wm-picture>
                    <wm-label name="ApplicationName" on-click="appName" caption="bind:Variables.appName.dataSet.dataValue" fontweight="bold" fontsize="24" color="#d1d039" class="app-name"></wm-label>
                </wm-gridcolumn>
                <wm-gridcolumn name="gridcolumn70" horizontalalign="right" on-click="username">
                    <wm-search name="search1" width="353" height="75" class="product-search"></wm-search>
                </wm-gridcolumn>
            </wm-gridrow>
        </wm-layoutgrid>
    </wm-header>
    <wm-top-nav name="top-nav" backgroundcolor="#015b7f">
        <wm-list name="topLinks" horizontalalign="left" class="top-nav">
            <wm-list-item name="topLink1">
                <wm-anchor caption="bind:Variables.homeMenu.dataSet.dataValue" name="homelink" hyperlink="#/Main"></wm-anchor>
            </wm-list-item>
            <wm-list-item name="topLink2">
                <wm-anchor caption="bind:Variables.productsMenu.dataSet.dataValue" name="productslink" hyperlink="#/Category"></wm-anchor>
            </wm-list-item>
            <wm-list-item ng-if="userLoggedin" name="topLink3">
                <wm-anchor caption="bind:Variables.cartMenu.dataSet.dataValue" name="cartlink" hyperlink="#/Cart"></wm-anchor>
            </wm-list-item>
            <wm-list-item ng-if="userLoggedin" name="topLink4">
                <wm-anchor caption="bind:Variables.ordersMenu.dataSet.dataValue" name="orderslink" hyperlink="#/Orders"></wm-anchor>
            </wm-list-item>
            <wm-list-item ng-if="userLoggedin" name="topLink5">
                <wm-anchor caption="bind:Variables.profileMenu.dataSet.dataValue" name="profilelink" hyperlink="#/Profile"></wm-anchor>
            </wm-list-item>
            <wm-list-item ng-if="!userLoggedin" name="topLink6">
                <wm-anchor caption="LOGIN" name="loginlink" on-click="loginDialog.show"></wm-anchor>
            </wm-list-item>
            <wm-list-item ng-if="userLoggedin" name="topLink7">
                <wm-anchor caption="bind:Variables.logoutMenu.dataSet.dataValue" name="logoutlink" on-click="logout($event, $scope)"></wm-anchor>
            </wm-list-item>
        </wm-list>
    </wm-top-nav>
    <wm-content name="content1">
        <wm-row name="row1">
            <wm-column class="app-content-column" columnwidth="12" paddingleft="15" paddingright="15" name="mainContent">
                <wm-label caption="Deals of the Day" fontsize="20" name="Heading" width="100%"></wm-label>
                <wm-panel name="dealsBanner" class="dealsBanner" marginbottom="0.5" marginunit="em">
                    <wm-view id="view1" name="promo-camera" backgroundimage="resources/images/imagelists/cameras_banner.png" backgroundrepeat="no-repeat" show="true"></wm-view>
                    <wm-view id="view2" name="promo-mobile" backgroundimage="resources/images/imagelists/phones_banner.png" backgroundrepeat="no-repeat" show="false"></wm-view>
                    <wm-view id="view3" name="promo-peripheral" backgroundimage="resources/images/imagelists/peripherals_banner.png" backgroundrepeat="no-repeat" horizontalalign="center" show="false"></wm-view>
                </wm-panel>
                <wm-label caption="Hot Picks" fontsize="20" name="Heading" width="100%"></wm-label>
                <wm-layoutgrid columns="3" class="productCategoryListing" name="productCategoryListing" rows="1" height="300">
                    <wm-gridrow name="gridrow3">
                        <wm-gridcolumn name="gridcolumn5" class="prodcategory">
                            <wm-picture name="Smart Phones" class="prodCategoryBanner" picturesource="resources/images/imagelists/smartphones_category.png" on-click="onCategoryClick('Smart Phones')" width="100%" cursor="pointer"></wm-picture>
                            <wm-livelist name="smartphoneslist" class="products-list" dataset="bind:Variables.smartphones_list.dataSet" on-click="categorylistClick($event, $scope)" cursor="pointer">
                                <wm-listtemplate name="listtemplate1">
                                    <wm-column columnwidth="2" name="column2">
                                        <wm-picture name="picture5" class="list-product-thumb" picturesource="bind:Variables.smartphones_list.dataSet.imgUrl"></wm-picture>
                                    </wm-column>
                                    <wm-column columnwidth="10" name="column3">
                                        <wm-label name="phone-name" caption="bind:Variables.smartphones_list.dataSet.name" paddingleft="5" width="100%"></wm-label>
                                        <wm-label name="phone-curr" caption="Rs" fontweight="bold" color="#000000" paddingleft="5" width="8%"></wm-label>
                                        <wm-label name="phone-price" caption="bind:Variables.smartphones_list.dataSet.price" fontweight="bold" color="#000000"></wm-label>
                                    </wm-column>
                                </wm-listtemplate>
                            </wm-livelist>
                        </wm-gridcolumn>

                        <wm-gridcolumn name="gridcolumn6" class="prodcategory">
                            <wm-picture name="Cameras" class="prodCategoryBanner" picturesource="resources/images/imagelists/cameras_category.png" on-click="onCategoryClick('Cameras')" width="100%" cursor="pointer"></wm-picture>
                            <wm-livelist name="cameraslist" class="products-list" dataset="bind:Variables.cameras_list.dataSet" on-click="categorylistClick($event, $scope)" cursor="pointer">
                                <wm-listtemplate name="listtemplate2">
                                    <wm-column columnwidth="2" name="column4">
                                        <wm-picture name="picture6" class="list-product-thumb" picturesource="bind:Variables.cameras_list.dataSet.imgUrl"></wm-picture>
                                    </wm-column>
                                    <wm-column columnwidth="10" name="column5">
                                        <wm-label name="cameras-name" caption="bind:Variables.cameras_list.dataSet.name" paddingleft="5" width="100%"></wm-label>
                                        <wm-label name="cameras-curr" caption="Rs" fontweight="bold" color="#000000" paddingleft="5" width="8%"></wm-label>
                                        <wm-label name="cameras-price" caption="bind:Variables.cameras_list.dataSet.price" fontweight="bold" color="#000000"></wm-label>
                                    </wm-column>
                                </wm-listtemplate>
                            </wm-livelist>
                        </wm-gridcolumn>

                        <wm-gridcolumn name="gridcolumn7" class="prodcategory">
                            <wm-picture name="Laptops" class="prodCategoryBanner" picturesource="resources/images/imagelists/laptops_category.png" on-click="onCategoryClick('Laptops')" width="100%" cursor="pointer"></wm-picture>
                            <wm-livelist name="laptopslist" class="products-list" dataset="bind:Variables.laptops_list.dataSet" on-click="categorylistClick($event, $scope)" cursor="pointer">
                                <wm-listtemplate name="listtemplate3">
                                    <wm-column columnwidth="2" name="column6">
                                        <wm-picture name="picture7" class="list-product-thumb" picturesource="bind:Variables.laptops_list.dataSet.imgUrl"></wm-picture>
                                    </wm-column>
                                    <wm-column columnwidth="10" name="column7">
                                        <wm-label name="laptops-name" caption="bind:Variables.laptops_list.dataSet.name" paddingleft="5" width="100%"></wm-label>
                                        <wm-label name="laptops-curr" caption="Rs" fontweight="bold" color="#000000" paddingleft="5" width="8%"></wm-label>
                                        <wm-label name="laptops-price" caption="bind:Variables.laptops_list.dataSet.price" fontweight="bold" color="#000000"></wm-label>
                                    </wm-column>
                                </wm-listtemplate>
                            </wm-livelist>
                        </wm-gridcolumn>
                    </wm-gridrow>
                </wm-layoutgrid>
                <wm-label caption="Deals" fontsize="20" name="Heading" width="100%"></wm-label>
                <wm-layoutgrid rows="1" columns="2" name="layoutgrid3" height="100">
                    <wm-gridrow name="gridrow3">
                        <wm-gridcolumn name="gridcolumn6">
                            <wm-picture name="Accessories" picturesource="resources/images/imagelists/accessories__category.png" on-click="onCategoryClick('Accessories')" width="80%" cursor="pointer"></wm-picture>
                        </wm-gridcolumn>
                        <wm-gridcolumn name="gridcolumn15">
                            <wm-picture name="Peripherals" picturesource="resources/images/imagelists/peripherals_category.png" on-click="onCategoryClick('Peripherals')" width="80%" cursor="pointer"></wm-picture>
                        </wm-gridcolumn>
                    </wm-gridrow>
                </wm-layoutgrid>
            </wm-column>
        </wm-row>
    </wm-content>
    <wm-view name="loginView" class="dialog-view" on-click="currentUser">
        <wm-dialog dialogtype="design-dialog" modal="true" name="loginDialog" height="250" title="Login">
            <wm-dialogheader name="dialogheader1"></wm-dialogheader>
            <wm-dialogcontent name="dialogcontent1">
                <wm-tabs name="tabs1" height="150">
                    <wm-tabpane name="tabpane1">
                        <wm-tabheader name="tabheader1" heading="Login" isdefaulttab="false"></wm-tabheader>
                        <wm-tabcontent name="tabcontent1">
                            <wm-composite widget="text" name="composite2">
                                <wm-label name="label12" caption="Email"></wm-label>
                                <wm-text name="email_val"></wm-text>
                            </wm-composite>
                            <wm-composite widget="text" name="composite3">
                                <wm-label name="label13" caption="Password"></wm-label>
                                <wm-text name="password_val" type="password"></wm-text>
                            </wm-composite>

                        </wm-tabcontent>
                    </wm-tabpane>

                </wm-tabs>
            </wm-dialogcontent>
            <wm-dialogactions name="dialogactions1" show="true">
                <wm-button name="button3" caption="Login" on-click="button3Click($event, $scope)" height="27" width="78"></wm-button>
            </wm-dialogactions>
        </wm-dialog>
    </wm-view>
    <wm-footer name="footer">
        <wm-layoutgrid rows="1" columns="2" height="auto" name="footerlayout">
            <wm-gridrow name="footerrow">
                <wm-gridcolumn name="footerleft" verticalalign="bottom">
                    <wm-label caption="Powered by WaveMaker" textalign="left" name="poweredby" width="100%"></wm-label>
                </wm-gridcolumn>
                <wm-gridcolumn horizontalalign="right" verticalalign="bottom" name="footerright">
                    <wm-label caption="Copyright 2014 eShop" textalign="right" name="copyright" width="100%"></wm-label>
                </wm-gridcolumn>
            </wm-gridrow>
        </wm-layoutgrid>
    </wm-footer>
</wm-page>